* {
  outline: none;
}

.stt {
  cursor: pointer;
}

.off-add {
  display: flex;
  justify-content: space-between;
}

.x-right {
  cursor: pointer;
}

.text-center {
  margin: auto;
}

button {
  margin-right: 10px;
}

.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.fa-times {
  margin-right : 5px;
}

.sort_selected::after {
  content: "\f00c";
  font-family: fontawesome;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 10px;
  display: inline-block;
}